html, body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

html{
    background-color: #111111;
}

h1, h2, h3, p{
    color: #2589D9;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

main{
    margin: 0 5% 0 5%
}

/**************
    HEADER
**************/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: linear-gradient(to bottom, #393939, transparent);
    width: 100%;
}

#name > p{
    font-size: 40px;
}

header > div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > div > a{
    text-decoration: none;
}

header > div > a > img{
    width: 50px;
    height: auto;
}

header > div > a > div > p{
    padding: 0;
    margin: 0;
}

header > a > div > h1{
    padding: 0;
    margin: 0;
}

.kjop-billett{
    padding: 3px;
    border: solid 2px #2589D9;
    border-radius: 5px;
}

.kjop-billett:hover{
    background-color: #2589D9;
}

.name_container > p{
    font-size: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#name{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#name > p{
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: transform 0.1s ease-in-out;
}

#name > p:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

/*
HAMBURGER MENU
*/

.fa-bars{
    color: white;
}

.menu-container{
    margin-left: 50px;
}

nav{
    display: none;
}

input#hamburger-menu {
    display: none;
}

input#hamburger-menu:checked ~ nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-color: rgba(17, 17, 17, 0.9);
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

label[for=hamburger-menu] {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    font-size: 2em;
    text-align: right;
}

nav > ul > li > a:hover{
    color:  white;
}
 
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav > ul > li{
    width: 100%;
    text-align: center;
}

nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    color: white;
    text-align: center;
    margin: 3px 0;
    font-size: 20px;
    font-size: 30px;
    
}


/**************
  INDEX MAIN
**************/

main > img{
    position: absolute;
    top: 150px;
    left: -40px;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 250px;
    height: auto;
}

.index-main{
    margin-top: 0px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.index-main > div{
    
    text-align: left;
    width: 90%;
    height: auto;
}

.index-main > hr{
    width: 90%;
}

.index-main > div > h1{
    padding: 0;
    margin: 0;
    color: white;
}

.index-main > div > p{
    margin: 0;
    padding: 0;
    color: white;
}

.opening-container{
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dager-container{
    display: grid;
    grid-template-columns: auto auto;
}

.dag{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening-container > div > h2, h3, p{
    color: white;
}

.atraction-cards{
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
    align-items: center;
    justify-content: center;
}

.atraction-cards > a{
    text-decoration: none;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #565555;
    padding: 20px;
    margin: 25px 0 25px 0;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    
}

.cards > p{
    font-size: 15px;
}

.cards > img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 0 10px 0;
    max-width: auto;
    max-height: 300px;
    overflow: hidden;
}



/***********
   FOOTER
***********/

footer{
    margin-top: 0px;
    padding: 10px 15%;
    background: linear-gradient(to top, #393939, transparent);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

footer > div > p{
    margin: 0;
    font-size: 10px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    height: 150px;
}

.footer-container > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container > div > a{
    text-decoration: none;
}

.footer-container > div > a > img{
    width: 100px;
    height: auto;
}

.footer-container > div > a > div > p{
    padding: 0;
    margin: 0;
}

.footer-container > a > div > h1{
    padding: 0;
    margin: 0;
}

.name_container > p{
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-nav > ul{
    font-size: 20px; 
    list-style: none;
}

.footer-nav > ul > li{
    margin-top: 10px;
    width: 100px;
    transition: transform 0.3s ease;
}

.footer-nav > ul > li:hover{
    transform: scale(1.2);
}

.footer-nav > ul > li > a{
    text-decoration: none;
    font-size: 15px;
    list-style: none;
    color: white;
    
}

@media (min-width: 1000px){

    /**********
    HEADER 800px
    **********/

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 150px;
        gap: 0;
        background: linear-gradient(to bottom, #393939, transparent);
    }
    
    header > div{
        margin: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    header > div > a{
        text-decoration: none;
    }
    
    header > div > a > img{
        width: 100px;
        height: auto;
    }
    
    header > div > a > div > p{
        padding: 0;
        margin: 0;
    }
    
    header > a > div > h1{
        padding: 0;
        margin: 0;
    }
    
    .name_container > p{
        font-size: 16px;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    
    #name{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 35px;
        margin: 0;
        padding: 0;
    }
    
    #name > p{
        cursor: pointer;
        margin: 0;
        padding: 0;
        transition: transform 0.1s ease-in-out;
    }
    
    #name > p:hover{
        cursor: pointer;
        transform: translateY(-10px);
    }
    

    label[for=hamburger-menu] {
        display: none;
    }

    nav{
        margin-top: 0;
        display: block;
    }

    nav > ul{
        flex-direction: row;
        justify-content: left;
        align-items: center;
        height: 64px;

    }

    nav > ul > li > a{
        width: 100px; 
        margin: 0 0 0 20px;
        font-size: 20px;
        transition: transform 0.3s ease;
    }

    nav > ul > li > a:hover{
        transform: scale(1.2);
    }

    /**************
      Index Main
    **************/

    .dager-container{   
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-template-rows: auto;
    }

    .opening-container > div > h2{
        margin: 0 0 20px 0;
    }

    .index-main > div{
        width: 800px;
    }

    main > img{
        top: 400px;
        left: -30px;
        width: 600px;
        height: auto;
    }

    .atraction-cards{
        display: flex;
        flex-direction: row;
    }

    .atraction-cards > a{
        margin: 0 20px 0 20px;
    }
    

     /**********
    FOOTER 800px
    **********/

    footer{
        margin-top: 0px;
        padding: 10px 15%;
        background: linear-gradient(to top, #393939, transparent);
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    footer > div > p{
        margin: 0;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
        height: 150px;
    }

    .footer-container > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-container > div > a{
        text-decoration: none;
    }

    .footer-container > div > a > img{
        width: 100px;
        height: auto;
    }

    .footer-container > div > a > div > p{
        padding: 0;
        margin: 0;
    }

    .footer-container > a > div > h1{
        padding: 0;
        margin: 0;
    }

    .name_container > p{
        font-size: 16px;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .footer-nav > ul{
        display: flex;
        flex-direction: row;
        font-size: 20px; 
        list-style: none;
    }

    .footer-nav > ul > li{
        margin-top: 10px;
        width: 150px;
        transition: transform 0.3s ease;
    }

    .footer-nav > ul > li:hover{
        transform: scale(1.2);
    }

    .footer-nav > ul > li > a{
        text-decoration: none;
        font-size: 20px;
        list-style: none;
        color: white;
    }

}

